.background{
    background-color: rgb(74, 86, 86);
    width: 520px;
    height: 340px;
    border-radius: 2px;
    border:solid  white 3px;
  
}

.chat {
    background-color: rgb(74, 86, 86);
    width: 420px;
    height: 150px;
    border-radius: 20px;
    border: solid white 2px;
    align-items: center;


}

.form-title{
    margin-top: 20px;
}